{% extends 'index.html' %}
{% block body %}
{{ ckeditor.load()}}
{% include 'menu_admin.html'   %}
<section class="mt-3">
    {% include "errors.html" %}
    <div class="card"> 
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок посту</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="mb-3">
                <label for="editor" class="form-label">Текст посту</label>
                {{ ckeditor.create() }}
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Фото</label>
                <input type="file" name="image" id="image" class="form-control" accept="image/*">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary btn-lg" value="Відправити">
            </div>
        </form>
        </div>
    </div>
</section>

{% endblock %}