<div class="container px-4 py-5" id="custom-cards">
  {% if posts|length > 0 %}
  <h2 class="pb-2 border-bottom">Мої останні проекти</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {%for post in posts%}
    <div class="col">
      <a href="{{ '/posts/%s'%post.post_id }}" class="text-decoration-none">
        <div class="card1 card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url({{ url_for('static', filename=post.img_formainpage) }})">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{post.title}}</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="{{url_for('static', filename=user.image)}}" class="rounded-circle border border-white" width="32" height="32">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="{{url_for('static', filename='calendar.svg')}}#calendar3"></use></svg>
                <small><strong>{{post.datetime}}</strong></small>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
    {%endfor%}
  {%else%}
  <h2 class="pb-2 border-bottom">Упсі, проектів немає ¯\_(ツ)_/¯</h2>
  {% endif %}

  </div>