<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/admin_panel_super_duper_secret_page/user_edit/" class="nav-link {%if request.path == '/admin_panel_super_duper_secret_page/user_edit/' or request.path == '/admin_panel_super_duper_secret_page/'%}active{%endif%}" aria-current="page">Редактор профілю</a></li>
        <li class="nav-item"><a href="/admin_panel_super_duper_secret_page/post_edit/" class="nav-link {%if request.path == '/admin_panel_super_duper_secret_page/post_edit/'%}active{%endif%}">Редактор постів</a></li>
        <li class="nav-item"><a href="/admin_panel_super_duper_secret_page/qna_edit/" class="nav-link {%if request.path == '/admin_panel_super_duper_secret_page/qna_edit/'%}active{%endif%}">Редактор питань та відповідей</a></li>
      </ul>
    </header>
  </div>